body{
margin:0;
font-family:Arial;
}

/* Header */
header{
display:flex;
justify-content:space-between;
padding:20px 80px;
background:#333;
color:white;
}

nav a{
color:rgb(238, 232, 232);
margin:15px;
text-decoration:none;
}

/* Hero */
.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px;
background:grey
}

.hero-image img{
width:300px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

/* Button */
.btn{
padding:10px 20px;
background:blue;
color:white;
text-decoration:none;
border:none;
margin-top:10px;
display:inline-block;
}

/* About */
.about{
display:flex;
align-items:right;
justify-content:space-between;
padding:50px;
}

.about-image img{
width:250px;
border-radius:50%;
}

.about-text{
max-width:1300px;
text-align:center;
}

/* Skills */
.skills{
text-align:center;
background-color: #e7e3e3;
}

.skills ul{
list-style-position:inside;
display:inline-block;
text-align:left;
}

.skills li{
margin:10px 0;
}

/* Projects */
.projects{
text-align:center;
padding:50px;
}

.projects ul{
list-style-position:inside;
display:inline-block;
text-align:left;
}

.projects li{
    margin: 10px 0;
}

/* Contact */
.contact{
text-align:center;
padding:50px;
background:#f4f4f4;
}

/* Footer */
footer{
text-align:center;
padding:20px;
background:#333;
color:white;
}